# Filtering down file

In [56]:
import pandas as pd
import geopandas as gpd
from shapely.wkt import loads as wkt_loads
from pathlib import Path

# -------------------------------
# 1. Load Census Tracts
# -------------------------------
tracts_path = Path("../../../census tract geofiles/manhattan_census_tracts.geojson")
tracts = gpd.read_file(tracts_path).to_crs(epsg=4326)
tracts["tract_id"] = tracts["GEOID"].astype(str)

# -------------------------------
# 2. Load Demographic CSV and Inspect Columns
# -------------------------------
nta_path = Path("nta_econ_primary_data.csv")
nta_df = pd.read_csv(nta_path)

# Print column names to find NTA and geometry fields
print("ðŸ“‹ Available columns in nta_econ_primary_data.csv:")
print(nta_df.columns.tolist())

ðŸ“‹ Available columns in nta_econ_primary_data.csv:
['GeoType', 'NTAType', 'GeogName', 'GeoID', 'Borough', 'Pop16plE', 'Pop16plM', 'Pop16plC', 'Pop16plP', 'Pop16plZ', 'LFE', 'LFM', 'LFC', 'LFP', 'LFZ', 'CvLF1E', 'CvLF1M', 'CvLF1C', 'CvLF1P', 'CvLF1Z', 'CvEm16pl1E', 'CvEm16pl1M', 'CvEm16pl1C', 'CvEm16pl1P', 'CvEm16pl1Z', 'CvLFUEm1E', 'CvLFUEm1M', 'CvLFUEm1C', 'CvLFUEm1P', 'CvLFUEm1Z', 'LFArmdFE', 'LFArmdFM', 'LFArmdFC', 'LFArmdFP', 'LFArmdFZ', 'NLF1E', 'NLF1M', 'NLF1C', 'NLF1P', 'NLF1Z', 'CvLF2E', 'CvLF2M', 'CvLF2C', 'CvLF2P', 'CvLF2Z', 'CvLFUEm2E', 'CvLFUEm2M', 'CvLFUEm2C', 'CvLFUEm2P', 'CvLFUEm2Z', 'F16plE', 'F16plM', 'F16plC', 'F16plP', 'F16plZ', 'F16plLFE', 'F16plLFM', 'F16plLFC', 'F16plLFP', 'F16plLFZ', 'F16plCvLFE', 'F16plCvLFM', 'F16plCvLFC', 'F16plCvLFP', 'F16plCvLFZ', 'F16plCLFEE', 'F16plCLFEM', 'F16plCLFEC', 'F16plCLFEP', 'F16plCLFEZ', 'OChU6E', 'OChU6M', 'OChU6C', 'OChU6P', 'OChU6Z', 'OChU6PLFE', 'OChU6PLFM', 'OChU6PLFC', 'OChU6PLFP', 'OChU6PLFZ', 'OCh6t17E', 'OCh6t17M', 'OCh6t17C', 'OCh6t17P', 'OCh6t17Z', 'OC6t17PLFE', 'OC6t17PLFM', 'OC6t17PLFC', 'OC6t17PLFP', 'OC6t17PLFZ', 'Wrkr16plE', 'Wrkr16plM', 'Wrkr16plC', 'Wrkr16plP', 'Wrkr16plZ', 'CW_DrvAlnE', 'CW_DrvAlnM', 'CW_DrvAlnC', 'CW_DrvAlnP', 'CW_DrvAlnZ', 'CW_CrpldE', 'CW_CrpldM', 'CW_CrpldC', 'CW_CrpldP', 'CW_CrpldZ', 'CW_PbTrnsE', 'CW_PbTrnsM', 'CW_PbTrnsC', 'CW_PbTrnsP', 'CW_PbTrnsZ', 'CW_WlkdE', 'CW_WlkdM', 'CW_WlkdC', 'CW_WlkdP', 'CW_WlkdZ', 'CW_OthE', 'CW_OthM', 'CW_OthC', 'CW_OthP', 'CW_OthZ', 'CW_WrkdHmE', 'CW_WrkdHmM', 'CW_WrkdHmC', 'CW_WrkdHmP', 'CW_WrkdHmZ', 'MnTrvTmE', 'MnTrvTmM', 'MnTrvTmC', 'MnTrvTmP', 'MnTrvTmZ', 'CvEm16pl2E', 'CvEm16pl2M', 'CvEm16pl2C', 'CvEm16pl2P', 'CvEm16pl2Z', 'MgBSciArtE', 'MgBSciArtM', 'MgBSciArtC', 'MgBSciArtP', 'MgBSciArtZ', 'SrvcE', 'SrvcM', 'SrvcC', 'SrvcP', 'SrvcZ', 'SalesOffE', 'SalesOffM', 'SalesOffC', 'SalesOffP', 'SalesOffZ', 'NRCnstMntE', 'NRCnstMntM', 'NRCnstMntC', 'NRCnstMntP', 'NRCnstMntZ', 'PrdTrnsMME', 'PrdTrnsMMM', 'PrdTrnsMMC', 'PrdTrnsMMP', 'PrdTrnsMMZ', 'CvEm16pl3E', 'CvEm16pl3M', 'CvEm16pl3C', 'CvEm16pl3P', 'CvEm16pl3Z', 'AgFFHME', 'AgFFHMM', 'AgFFHMC', 'AgFFHMP', 'AgFFHMZ', 'ConstctnE', 'ConstctnM', 'ConstctnC', 'ConstctnP', 'ConstctnZ', 'MnfctrngE', 'MnfctrngM', 'MnfctrngC', 'MnfctrngP', 'MnfctrngZ', 'WhlsaleE', 'WhlsaleM', 'WhlsaleC', 'WhlsaleP', 'WhlsaleZ', 'RetailE', 'RetailM', 'RetailC', 'RetailP', 'RetailZ', 'TrWHUtE', 'TrWHUtM', 'TrWHUtC', 'TrWHUtP', 'TrWHUtZ', 'InfoE', 'InfoM', 'InfoC', 'InfoP', 'InfoZ', 'FIREE', 'FIREM', 'FIREC', 'FIREP', 'FIREZ', 'PrfSMgAWME', 'PrfSMgAWMM', 'PrfSMgAWMC', 'PrfSMgAWMP', 'PrfSMgAWMZ', 'EdHlthCSAE', 'EdHlthCSAM', 'EdHlthCSAC', 'EdHlthCSAP', 'EdHlthCSAZ', 'ArtEnRAFSE', 'ArtEnRAFSM', 'ArtEnRAFSC', 'ArtEnRAFSP', 'ArtEnRAFSZ', 'OthnotPAE', 'OthnotPAM', 'OthnotPAC', 'OthnotPAP', 'OthnotPAZ', 'PubAdminE', 'PubAdminM', 'PubAdminC', 'PubAdminP', 'PubAdminZ', 'CvEm16pl4E', 'CvEm16pl4M', 'CvEm16pl4C', 'CvEm16pl4P', 'CvEm16pl4Z', 'PrvWSWrkrE', 'PrvWSWrkrM', 'PrvWSWrkrC', 'PrvWSWrkrP', 'PrvWSWrkrZ', 'GvtWrkrE', 'GvtWrkrM', 'GvtWrkrC', 'GvtWrkrP', 'GvtWrkrZ', 'SlfEmNIncE', 'SlfEmNIncM', 'SlfEmNIncC', 'SlfEmNIncP', 'SlfEmNIncZ', 'UpdFmWrkrE', 'UpdFmWrkrM', 'UpdFmWrkrC', 'UpdFmWrkrP', 'UpdFmWrkrZ', 'HH2E', 'HH2M', 'HH2C', 'HH2P', 'HH2Z', 'HHIU10E', 'HHIU10M', 'HHIU10C', 'HHIU10P', 'HHIU10Z', 'HHI10t14E', 'HHI10t14M', 'HHI10t14C', 'HHI10t14P', 'HHI10t14Z', 'HHI15t24E', 'HHI15t24M', 'HHI15t24C', 'HHI15t24P', 'HHI15t24Z', 'HHI25t34E', 'HHI25t34M', 'HHI25t34C', 'HHI25t34P', 'HHI25t34Z', 'HHI35t49E', 'HHI35t49M', 'HHI35t49C', 'HHI35t49P', 'HHI35t49Z', 'HHI50t74E', 'HHI50t74M', 'HHI50t74C', 'HHI50t74P', 'HHI50t74Z', 'HHI75t99E', 'HHI75t99M', 'HHI75t99C', 'HHI75t99P', 'HHI75t99Z', 'HI100t149E', 'HI100t149M', 'HI100t149C', 'HI100t149P', 'HI100t149Z', 'HI150t199E', 'HI150t199M', 'HI150t199C', 'HI150t199P', 'HI150t199Z', 'HHI200plE', 'HHI200plM', 'HHI200plC', 'HHI200plP', 'HHI200plZ', 'MdHHIncE', 'MdHHIncM', 'MdHHIncC', 'MdHHIncP', 'MdHHIncZ', 'MnHHIncE', 'MnHHIncM', 'MnHHIncC', 'MnHHIncP', 'MnHHIncZ', 'Inc_SoSecE', 'Inc_SoSecM', 'Inc_SoSecC', 'Inc_SoSecP', 'Inc_SoSecZ', 'Inc_RtrmtE', 'Inc_RtrmtM', 'Inc_RtrmtC', 'Inc_RtrmtP', 'Inc_RtrmtZ', 'Inc_SpSecE', 'Inc_SpSecM', 'Inc_SpSecC', 'Inc_SpSecP', 'Inc_SpSecZ', 'Inc_CPbAE', 'Inc_CPbAM', 'Inc_CPbAC', 'Inc_CPbAP', 'Inc_CPbAZ', 'Inc_SNAPE', 'Inc_SNAPM', 'Inc_SNAPC', 'Inc_SNAPP', 'Inc_SNAPZ', 'Fam2E', 'Fam2M', 'Fam2C', 'Fam2P', 'Fam2Z', 'FamIU10E', 'FamIU10M', 'FamIU10C', 'FamIU10P', 'FamIU10Z', 'FamI10t14E', 'FamI10t14M', 'FamI10t14C', 'FamI10t14P', 'FamI10t14Z', 'FamI15t24E', 'FamI15t24M', 'FamI15t24C', 'FamI15t24P', 'FamI15t24Z', 'FamI25t34E', 'FamI25t34M', 'FamI25t34C', 'FamI25t34P', 'FamI25t34Z', 'FamI35t49E', 'FamI35t49M', 'FamI35t49C', 'FamI35t49P', 'FamI35t49Z', 'FamI50t74E', 'FamI50t74M', 'FamI50t74C', 'FamI50t74P', 'FamI50t74Z', 'FamI75t99E', 'FamI75t99M', 'FamI75t99C', 'FamI75t99P', 'FamI75t99Z', 'FI100t149E', 'FI100t149M', 'FI100t149C', 'FI100t149P', 'FI100t149Z', 'FI150t199E', 'FI150t199M', 'FI150t199C', 'FI150t199P', 'FI150t199Z', 'FamI200plE', 'FamI200plM', 'FamI200plC', 'FamI200plP', 'FamI200plZ', 'MdFamIncE', 'MdFamIncM', 'MdFamIncC', 'MdFamIncP', 'MdFamIncZ', 'Nfam2E', 'Nfam2M', 'Nfam2C', 'Nfam2P', 'Nfam2Z', 'MdNFIncE', 'MdNFIncM', 'MdNFIncC', 'MdNFIncP', 'MdNFIncZ', 'PerCapIncE', 'PerCapIncM', 'PerCapIncC', 'PerCapIncP', 'PerCapIncZ', 'MdEWrkE', 'MdEWrkM', 'MdEWrkC', 'MdEWrkP', 'MdEWrkZ', 'MdEMFTWrkE', 'MdEMFTWrkM', 'MdEMFTWrkC', 'MdEMFTWrkP', 'MdEMFTWrkZ', 'MdEFFTWrkE', 'MdEFFTWrkM', 'MdEFFTWrkC', 'MdEFFTWrkP', 'MdEFFTWrkZ', 'CvNIPop2E', 'CvNIPop2M', 'CvNIPop2C', 'CvNIPop2P', 'CvNIPop2Z', 'HInsE', 'HInsM', 'HInsC', 'HInsP', 'HInsZ', 'PvHInsE', 'PvHInsM', 'PvHInsC', 'PvHInsP', 'PvHInsZ', 'PbHInsE', 'PbHInsM', 'PbHInsC', 'PbHInsP', 'PbHInsZ', 'NHInsE', 'NHInsM', 'NHInsC', 'NHInsP', 'NHInsZ', 'CvNIU18_2E', 'CvNIU18_2M', 'CvNIU18_2C', 'CvNIU18_2P', 'CvNIU18_2Z', 'U18NHInsE', 'U18NHInsM', 'U18NHInsC', 'U18NHInsP', 'U18NHInsZ', 'CNI1864_2E', 'CNI1864_2M', 'CNI1864_2C', 'CNI1864_2P', 'CNI1864_2Z', 'CvLF18t64E', 'CvLF18t64M', 'CvLF18t64C', 'CvLF18t64P', 'CvLF18t64Z', 'CvLFEmE', 'CvLFEmM', 'CvLFEmC', 'CvLFEmP', 'CvLFEmZ', 'EmHInsE', 'EmHInsM', 'EmHInsC', 'EmHInsP', 'EmHInsZ', 'EmPvHInsE', 'EmPvHInsM', 'EmPvHInsC', 'EmPvHInsP', 'EmPvHInsZ', 'EmPbHInsE', 'EmPbHInsM', 'EmPbHInsC', 'EmPbHInsP', 'EmPbHInsZ', 'EmNHInsE', 'EmNHInsM', 'EmNHInsC', 'EmNHInsP', 'EmNHInsZ', 'UEmE', 'UEmM', 'UEmC', 'UEmP', 'UEmZ', 'UEmHInsE', 'UEmHInsM', 'UEmHInsC', 'UEmHInsP', 'UEmHInsZ', 'UEmPvHInsE', 'UEmPvHInsM', 'UEmPvHInsC', 'UEmPvHInsP', 'UEmPvHInsZ', 'UEmPbHInsE', 'UEmPbHInsM', 'UEmPbHInsC', 'UEmPbHInsP', 'UEmPbHInsZ', 'UEmNHInsE', 'UEmNHInsM', 'UEmNHInsC', 'UEmNHInsP', 'UEmNHInsZ', 'NLF2E', 'NLF2M', 'NLF2C', 'NLF2P', 'NLF2Z', 'NLFHInsE', 'NLFHInsM', 'NLFHInsC', 'NLFHInsP', 'NLFHInsZ', 'NLFPvHInsE', 'NLFPvHInsM', 'NLFPvHInsC', 'NLFPvHInsP', 'NLFPvHInsZ', 'NLFPbHInsE', 'NLFPbHInsM', 'NLFPbHInsC', 'NLFPbHInsP', 'NLFPbHInsZ', 'NLFNHInsE', 'NLFNHInsM', 'NLFNHInsC', 'NLFNHInsP', 'NLFNHInsZ', 'FamPvUE', 'FamPvUM', 'FamPvUC', 'FamPvUP', 'FamPvUZ', 'FamBwPvE', 'FamBwPvM', 'FamBwPvC', 'FamBwPvP', 'FamBwPvZ', 'PopPvU1E', 'PopPvU1M', 'PopPvU1C', 'PopPvU1P', 'PopPvU1Z', 'PBwPvE', 'PBwPvM', 'PBwPvC', 'PBwPvP', 'PBwPvZ', 'PU18PvUE', 'PU18PvUM', 'PU18PvUC', 'PU18PvUP', 'PU18PvUZ', 'PU18BwPvE', 'PU18BwPvM', 'PU18BwPvC', 'PU18BwPvP', 'PU18BwPvZ', 'P65plPvUE', 'P65plPvUM', 'P65plPvUC', 'P65plPvUP', 'P65plPvUZ', 'P65plBwPvE', 'P65plBwPvM', 'P65plBwPvC', 'P65plBwPvP', 'P65plBwPvZ', 'PopPvU2E', 'PopPvU2M', 'PopPvU2C', 'PopPvU2P', 'PopPvU2Z', 'PvU50E', 'PvU50M', 'PvU50C', 'PvU50P', 'PvU50Z', 'Pv50t74E', 'Pv50t74M', 'Pv50t74C', 'Pv50t74P', 'Pv50t74Z', 'Pv75t99E', 'Pv75t99M', 'Pv75t99C', 'Pv75t99P', 'Pv75t99Z', 'Pv100t124E', 'Pv100t124M', 'Pv100t124C', 'Pv100t124P', 'Pv100t124Z', 'Pv125t149E', 'Pv125t149M', 'Pv125t149C', 'Pv125t149P', 'Pv125t149Z', 'Pv150t174E', 'Pv150t174M', 'Pv150t174C', 'Pv150t174P', 'Pv150t174Z', 'Pv175t184E', 'Pv175t184M', 'Pv175t184C', 'Pv175t184P', 'Pv175t184Z', 'Pv185t199E', 'Pv185t199M', 'Pv185t199C', 'Pv185t199P', 'Pv185t199Z', 'Pv200t299E', 'Pv200t299M', 'Pv200t299C', 'Pv200t299P', 'Pv200t299Z', 'Pv300t399E', 'Pv300t399M', 'Pv300t399C', 'Pv300t399P', 'Pv300t399Z', 'Pv400t499E', 'Pv400t499M', 'Pv400t499C', 'Pv400t499P', 'Pv400t499Z', 'Pv500plE', 'Pv500plM', 'Pv500plC', 'Pv500plP', 'Pv500plZ']

In [57]:
import pandas as pd

# Load economic data
df = pd.read_csv("nta_econ_primary_data.csv")

# Filter to Manhattan
df = df[df["Borough"].str.lower() == "manhattan"].copy()

# Columns to retain
columns_to_keep = [
    "GeoID", "HHIU10E", "HHI10t14E", "HHI15t24E", "HHI25t34E",
    "HHI35t49E", "HHI50t74E", "HHI75t99E", "HI100t149E", "HI150t199E",
    "HHI200plE", "MdHHIncE", "MnHHIncE"
]
df_filtered = df[columns_to_keep].copy()

# Rename to human-readable names
rename_map = {
    "HHIU10E": "Income <$10k",
    "HHI10t14E": "$10kâ€“14.9k",
    "HHI15t24E": "$15kâ€“24.9k",
    "HHI25t34E": "$25kâ€“34.9k",
    "HHI35t49E": "$35kâ€“49.9k",
    "HHI50t74E": "$50kâ€“74.9k",
    "HHI75t99E": "$75kâ€“99.9k",
    "HI100t149E": "$100kâ€“149k",
    "HI150t199E": "$150kâ€“199k",
    "HHI200plE": "$200k+",
    "MdHHIncE": "Median HH income ($)",
    "MnHHIncE": "Mean HH income ($)"
}
df_filtered.rename(columns=rename_map, inplace=True)

# Preview
print(df_filtered.head())

     GeoID Income <$10k $10kâ€“14.9k $15kâ€“24.9k $25kâ€“34.9k $35kâ€“49.9k  \
90  MN0101          544        392        358        417        908
91  MN0102          250        181        227        154        161
92  MN0201          730        398        620        520        508
93  MN0202          640        233        247        486        740
94  MN0203          841        411        814        571        889

   $50kâ€“74.9k $75kâ€“99.9k $100kâ€“149k $150kâ€“199k  $200k+ Median HH income ($)  \
90      1,156      1,875      3,511      2,848  11,457              195,153
91        810        563        796        935   5,592              200,000
92      1,084        760      1,965      1,450   3,808              133,847
93      1,594        872      2,154      1,656   6,995              175,436
94      1,361      2,008      2,612      1,822   7,454              147,570

   Mean HH income ($)
90            268,791
91            485,548
92            258,036
93            288,647
94            250,482

# Attaching shape file to this form 2020 NTA shape file in Census trat geofiles

In [58]:
import pandas as pd
import geopandas as gpd
from shapely.wkt import loads as wkt_loads

# 1. Load NTA shape file with geometry only
nta_shapes = pd.read_csv("../../../census tract geofiles/2020_Neighborhood_Tabulation_Areas__NTAs__20250605.csv")
nta_shapes["geometry"] = nta_shapes["the_geom"].apply(wkt_loads)
nta_gdf = gpd.GeoDataFrame(nta_shapes[["NTA2020", "BoroName", "geometry"]], geometry="geometry", crs="EPSG:4326")

# 2. Filter to Manhattan only
nta_gdf = nta_gdf[nta_gdf["BoroName"].str.lower() == "manhattan"].copy()

# 3. Merge with df_filtered on NTA2020 == GeoID
merged_gdf = nta_gdf.merge(df_filtered, left_on="NTA2020", right_on="GeoID", how="left")

# 4. Drop unused columns
merged_gdf.drop(columns=["GeoID", "BoroName"], inplace=True)

# 5. Check result
print("âœ… Final merged GeoDataFrame shape:", merged_gdf.shape)
print(merged_gdf[["NTA2020", "Median HH income ($)", "geometry"]].head())

# Final GeoDataFrame: NTA2020, geometry, and renamed economic columns
merged_gdf.head(5)

âœ… Final merged GeoDataFrame shape: (38, 14)
  NTA2020 Median HH income ($)  \
0  MN0101              195,153
1  MN0102              200,000
2  MN0191                  NaN
3  MN0201              133,847
4  MN0202              175,436

                                            geometry
0  MULTIPOLYGON (((-74.00078 40.69429, -74.00096 ...
1  MULTIPOLYGON (((-73.99931 40.71755, -73.99945 ...
2  MULTIPOLYGON (((-74.01093 40.68449, -74.01193 ...
3  MULTIPOLYGON (((-74.00282 40.72836, -74.00272 ...
4  MULTIPOLYGON (((-73.9899 40.73443, -73.98987 4...

,NTA2020,geometry,Income <$10k,$10kâ€“14.9k,$15kâ€“24.9k,$25kâ€“34.9k,$35kâ€“49.9k,$50kâ€“74.9k,$75kâ€“99.9k,$100kâ€“149k,$150kâ€“199k,$200k+,Median HH income ($),Mean HH income ($)
0,MN0101,"MULTIPOLYGON (((-74.00078 40.69429, -74.00096 ...",544,392,358,417,908,"1,156","1,875","3,511","2,848","11,457","195,153","268,791"
1,MN0102,"MULTIPOLYGON (((-73.99931 40.71755, -73.99945 ...",250,181,227,154,161,810,563,796,935,"5,592","200,000","485,548"
2,MN0191,"MULTIPOLYGON (((-74.01093 40.68449, -74.01193 ...",0,0,0,0,0,0,0,0,0,0,NaN,NaN
3,MN0201,"MULTIPOLYGON (((-74.00282 40.72836, -74.00272 ...",730,398,620,520,508,"1,084",760,"1,965","1,450","3,808","133,847","258,036"
4,MN0202,"MULTIPOLYGON (((-73.9899 40.73443, -73.98987 4...",640,233,247,486,740,"1,594",872,"2,154","1,656","6,995","175,436","288,647"

In [59]:
from shapely.geometry import Polygon
import geopandas as gpd
import pandas as pd

# 1. Load census tract GeoJSON
tracts = gpd.read_file("../../../census tract geofiles/manhattan_census_tracts.geojson").to_crs(epsg=4326)
tracts["tract_id"] = tracts["GEOID"].astype(str)

# 2. Ensure CRS matches
merged_gdf = merged_gdf.to_crs(tracts.crs)

# 3. Intersect geometries to compute overlap
intersections = gpd.overlay(tracts, merged_gdf, how="intersection")

# 4. Calculate intersection area
intersections["intersect_area"] = intersections.geometry.area

# 5. Keep the NTA with the largest overlap for each tract
idx = intersections.groupby("tract_id")["intersect_area"].idxmax()
tract_economics = intersections.loc[idx].copy()

# 6. Merge original tract geometry back
tract_economics = tract_economics.merge(
    tracts[["tract_id", "geometry"]], on="tract_id", how="left"
)

# 7. Drop unnecessary columns but keep NTA2020
cols_to_drop = [
    "intersect_area", "geometry", 
    "NTA2020_2", "CDTA2020", "CDTANAME", 
    "CTLabel", "NTAName", "BoroName", "BoroCT2020", 
    "geometry_x", "geometry_y"
]
tract_economics.drop(columns=[col for col in cols_to_drop if col in tract_economics.columns], inplace=True)

# 8. Add Marble Hill (36061030900) with NaNs but correct geometry
missing_id = "36061030900"
if missing_id not in tract_economics["tract_id"].values:
    marble_geom = tracts.loc[tracts["tract_id"] == missing_id, "geometry"].values[0]
    columns = tract_economics.columns.tolist()
    nan_row = {col: pd.NA for col in columns if col not in ["tract_id", "geometry", "NTA2020"]}
    nan_row["tract_id"] = missing_id
    nan_row["geometry"] = marble_geom
    nan_row["NTA2020"] = pd.NA
    marble_hill = gpd.GeoDataFrame([nan_row], geometry="geometry", crs=tracts.crs)
    tract_economics = pd.concat([tract_economics, marble_hill], ignore_index=True)

# âœ… Final GeoDataFrame output
print("âœ… Final tract-level economic GeoDataFrame:", tract_economics.shape)
print(tract_economics.dtypes)
tract_economics.head(10)

âœ… Final tract-level economic GeoDataFrame: (310, 18)
GEOID                     object
NTA2020_1                 object
CT2020                    object
tract_id                  object
Income <$10k              object
$10kâ€“14.9k                object
$15kâ€“24.9k                object
$25kâ€“34.9k                object
$35kâ€“49.9k                object
$50kâ€“74.9k                object
$75kâ€“99.9k                object
$100kâ€“149k                object
$150kâ€“199k                object
$200k+                    object
Median HH income ($)      object
Mean HH income ($)        object
geometry                geometry
NTA2020                   object
dtype: object

c:\Users\Jack\anaconda3\envs\comp47350py311\Lib\site-packages\geopandas\tools\overlay.py:357: UserWarning: `keep_geom_type=True` in overlay resulted in 481 dropped geometries of different geometry types than df1 has. Set `keep_geom_type=False` to retain all geometries
  result = _collection_extract(result, geom_type, keep_geom_type_warning)
C:\Users\Jack\AppData\Local\Temp\ipykernel_4188\2574371377.py:16: UserWarning: Geometry is in a geographic CRS. Results from 'area' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  intersections["intersect_area"] = intersections.geometry.area

,GEOID,NTA2020_1,CT2020,tract_id,Income <$10k,$10kâ€“14.9k,$15kâ€“24.9k,$25kâ€“34.9k,$35kâ€“49.9k,$50kâ€“74.9k,$75kâ€“99.9k,$100kâ€“149k,$150kâ€“199k,$200k+,Median HH income ($),Mean HH income ($),geometry,NTA2020
0,36061000100,MN0191,100,36061000100,0,0,0,0,0,0,0,0,0,0,NaN,NaN,None,NaN
1,36061000201,MN0301,201,36061000201,"2,508","2,791","2,611","1,960","1,681","1,776","1,404","1,680",843,"1,071","29,559","68,651",None,NaN
2,36061000202,MN0302,202,36061000202,"1,999","2,071","2,731","1,562","2,084","2,168","2,186","2,980","1,217","2,700","54,122","96,129",None,NaN
3,36061000500,MN0191,500,36061000500,0,0,0,0,0,0,0,0,0,0,NaN,NaN,None,NaN
4,36061000600,MN0301,600,36061000600,"2,508","2,791","2,611","1,960","1,681","1,776","1,404","1,680",843,"1,071","29,559","68,651",None,NaN
5,36061000700,MN0101,700,36061000700,544,392,358,417,908,"1,156","1,875","3,511","2,848","11,457","195,153","268,791",None,NaN
6,36061000800,MN0301,800,36061000800,"2,508","2,791","2,611","1,960","1,681","1,776","1,404","1,680",843,"1,071","29,559","68,651",None,NaN
7,36061000900,MN0101,900,36061000900,544,392,358,417,908,"1,156","1,875","3,511","2,848","11,457","195,153","268,791",None,NaN
8,36061001001,MN0302,1001,36061001001,"1,999","2,071","2,731","1,562","2,084","2,168","2,186","2,980","1,217","2,700","54,122","96,129",None,NaN
9,36061001002,MN0302,1002,36061001002,"1,999","2,071","2,731","1,562","2,084","2,168","2,186","2,980","1,217","2,700","54,122","96,129",None,NaN

In [60]:
# Check if the tract exists in the original shapefile
tract_exists = '36061030900' in tracts["tract_id"].astype(str).values
print("ðŸ—ºï¸ Tract exists in original census tracts:", tract_exists)

# Check if it made it into tract_economics
in_final_output = '36061030900' in tract_economics["tract_id"].astype(str).values
print("ðŸ“Š Tract exists in final economic output:", in_final_output)

ðŸ—ºï¸ Tract exists in original census tracts: True
ðŸ“Š Tract exists in final economic output: True

In [61]:
import pandas as pd
import geopandas as gpd
from shapely.wkt import loads as wkt_loads

# Load census tracts
tracts = gpd.read_file("../../../census tract geofiles/manhattan_census_tracts.geojson").to_crs(epsg=4326)
tracts["tract_id"] = tracts["GEOID"].astype(str)

# Load and filter economic data
econ_df = pd.read_csv("nta_econ_primary_data.csv")
econ_df = econ_df[econ_df["Borough"].str.lower() == "manhattan"].copy()

# Filter relevant columns
econ_filtered = econ_df[[
    "GeoID", "HHIU10E", "HHI10t14E", "HHI15t24E", "HHI25t34E", "HHI35t49E",
    "HHI50t74E", "HHI75t99E", "HI100t149E", "HI150t199E", "HHI200plE",
    "MdHHIncE", "MnHHIncE"
]]

# Load NTA shapes and merge
nta_shapes = pd.read_csv("../../../census tract geofiles/2020_Neighborhood_Tabulation_Areas__NTAs__20250605.csv")
nta_shapes["geometry"] = nta_shapes["the_geom"].apply(wkt_loads)
nta_gdf = gpd.GeoDataFrame(nta_shapes[["NTA2020", "BoroName", "geometry"]], geometry="geometry", crs="EPSG:4326")
nta_gdf = nta_gdf[nta_gdf["BoroName"].str.lower() == "manhattan"]

# Merge with economic data
merged_gdf = nta_gdf.merge(econ_filtered, left_on="NTA2020", right_on="GeoID", how="left")
merged_gdf.drop(columns=["GeoID", "BoroName"], inplace=True)

# Intersect with census tracts
merged_gdf = merged_gdf.to_crs(tracts.crs)
intersections = gpd.overlay(tracts[["tract_id", "geometry"]], merged_gdf, how="intersection")

# Preserve area and NTA code
intersections["intersect_area"] = intersections.geometry.area

# Take largest overlapping NTA per tract
idx = intersections.groupby("tract_id")["intersect_area"].idxmax()
tract_econ = intersections.loc[idx].copy()

# âœ… Preserve NTA2020 before dropping anything
if "NTA2020" not in tract_econ.columns:
    tract_econ = tract_econ.merge(
        merged_gdf[["NTA2020", "geometry"]],
        on="geometry",
        how="left"
    )


# Merge back original geometry
tract_econ = tract_econ.merge(tracts[["tract_id", "geometry"]], on="tract_id", how="left")

# Clean up fields
cols_to_drop = [
    "intersect_area", "geometry", 
    "CDTA2020", "CDTANAME", "CTLabel", 
    "NTAName", "BoroName", "BoroCT2020", 
    "geometry_x", "geometry_y"
]
tract_econ.drop(columns=[col for col in cols_to_drop if col in tract_econ.columns], inplace=True)

# Rename NTA2020 â†’ NTA2020
tract_econ.rename(columns={"NTA2020": "NTA2020", "tract_id": "tract_id"}, inplace=True)

# Extract CT2020 from GEOID
tract_econ["CT2020"] = tract_econ["tract_id"].str[-5:].astype(int)
tract_econ["GEOID"] = tract_econ["tract_id"]

# Reorder columns to match demographic file
column_order = [
    "tract_id", "NTA2020", "CT2020", "GEOID",
    "HHIU10E", "HHI10t14E", "HHI15t24E", "HHI25t34E", "HHI35t49E",
    "HHI50t74E", "HHI75t99E", "HI100t149E", "HI150t199E", "HHI200plE",
    "MdHHIncE", "MnHHIncE"
]
tract_econ = tract_econ.reindex(columns=column_order)

# Append manually filled row for Marble Hill
missing_id = "36061030900"
if missing_id not in tract_econ["tract_id"].values:
    marble_row = pd.Series({
        "tract_id": missing_id,
        "NTA2020": pd.NA,
        "CT2020": 30900,
        "GEOID": missing_id,
        "HHIU10E": 946,
        "HHI10t14E": 818,
        "HHI15t24E": 921,
        "HHI25t34E": 892,
        "HHI35t49E": 1024,
        "HHI50t74E": 1867,
        "HHI75t99E": 1006,
        "HI100t149E": 1272,
        "HI150t199E": 484,
        "HHI200plE": 362,
        "MdHHIncE": 52386,
        "MnHHIncE": 68849
    })
    tract_econ = pd.concat([tract_econ, pd.DataFrame([marble_row])], ignore_index=True)

# Export to CSV
tract_econ.to_csv("nta_economics_by_tract.csv", index=False)
print("âœ… Exported with proper formatting and filled Marble Hill row.")

âœ… Exported with proper formatting and filled Marble Hill row.

c:\Users\Jack\anaconda3\envs\comp47350py311\Lib\site-packages\geopandas\tools\overlay.py:357: UserWarning: `keep_geom_type=True` in overlay resulted in 481 dropped geometries of different geometry types than df1 has. Set `keep_geom_type=False` to retain all geometries
  result = _collection_extract(result, geom_type, keep_geom_type_warning)
C:\Users\Jack\AppData\Local\Temp\ipykernel_4188\2998744983.py:35: UserWarning: Geometry is in a geographic CRS. Results from 'area' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  intersections["intersect_area"] = intersections.geometry.area