In [39]:
# From your virtul environment, install the pandas package for working with data frames: 
# pip install pandas
# pandas is an open source Python library for data analysis
# A data frame allows us to read and access data stored in spreadsheet (.csv) format
# Good tutorial on pandas: http://pandas.pydata.org/pandas-docs/stable/10min.html
# Pandas Cookbook: http://pandas.pydata.org/pandas-docs/stable/tutorials.html
# Another good resource for pandas: http://chrisalbon.com/python/pandas_dataframe_importing_csv.htm

#Import the required packages
#Import package pandas for data analysis
import pandas as pd

# Import package numpy for numeric computing
import numpy as np

# Import package matplotlib for visualisation/plotting jjo
import matplotlib.pyplot as plt

#For showing plots directly in the notebook run the command below
%matplotlib inline

# For saving multiple plots into a single pdf file
from matplotlib.backends.backend_pdf import PdfPages

In [105]:
# Reading from a csv file, into a data frame
# Can set parameters to remove white space from the beginning and end of column names
# Read more about .read_csv() here: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html
df = pd.read_csv('/Users/jennifercasavantes/Downloads/Alone_or_in_Any_Combination_modified.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)
#How many rows should be displayed in full
pd.set_option('display.max_rows', 100)
# Show data frame first few rows
df.head(50)

/var/folders/5m/lm7lkjcj0091slj1knvhj6g00000gn/T/ipykernel_8417/3577823450.py:4: DtypeWarning: Columns (3,14,20,28,30,32,38,42,44,58,60,62,68,70,72,76,78,80,82,88,90,92,98,116,118,120,122,124,126,128,132,138,140,142,144,146,148,152,154,160,164,170,172,176,182,192,194,196,204,206,210,212,216,218,222,224,230,234,236,240,246,254,270,276,278,282,286,288,290,292,294,296,312,316,338,344,352,354,356) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/jennifercasavantes/Downloads/Alone_or_in_Any_Combination_modified.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

,Orig Order,GeoType,Borough,GeoID,BCT2020,GeoName,CDType,NTAType,Pop,PopP,...,Native Hawaiian and Other Pacific Islander.8,Native Hawaiian and Other Pacific Islander.9,Native Hawaiian and Other Pacific Islander.10,Native Hawaiian and Other Pacific Islander.11,Unnamed: 364,Total,Unnamed: 366,Unnamed: 367,Unnamed: 368,Unnamed: 369
0,1,City2020,New York City,0,NaN,NYC,NaN,NaN,"8,804,190",100.0,...,557.0,0.0,420.0,0.0,NaN,"13,877,232.1",NaN,NaN,NaN,NaN
1,2,Boro2020,Manhattan,1,NaN,Manhattan,NaN,NaN,"1,694,251",100.0,...,NaN,NaN,52.0,0.0,NaN,"2,516,623.6",NaN,NaN,NaN,NaN
2,3,Boro2020,Bronx,2,NaN,Bronx,NaN,NaN,"1,472,654",100.0,...,191.0,0.0,109.0,0.0,NaN,"4,051,330.6",NaN,NaN,NaN,NaN
3,4,Boro2020,Brooklyn,3,NaN,Brooklyn,NaN,NaN,"2,736,074",100.0,...,187.0,0.0,107.0,0.0,NaN,"2,554,894.2",NaN,NaN,NaN,NaN
4,5,Boro2020,Queens,4,NaN,Queens,NaN,NaN,"2,405,464",100.0,...,138.0,0.0,110.0,0.0,NaN,"3,951,416.3",NaN,NaN,NaN,NaN
5,6,Boro2020,Staten Island,5,NaN,Staten Island,NaN,NaN,"495,747",100.0,...,NaN,NaN,33.0,0.0,NaN,"801,256.7",NaN,NaN,NaN,NaN
6,7,CT2020,Bronx,36005000100,2000100.0,NaN,NaN,NaN,"3,772",100.0,...,NaN,NaN,NaN,NaN,NaN,"4,347.3",NaN,NaN,NaN,NaN
7,8,CT2020,Bronx,36005000200,2000200.0,NaN,NaN,NaN,"4,779",100.0,...,NaN,NaN,NaN,NaN,NaN,"8,293.1",NaN,NaN,NaN,NaN
8,9,CT2020,Bronx,36005000400,2000400.0,NaN,NaN,NaN,"6,272",100.0,...,NaN,NaN,NaN,NaN,NaN,"10,877.7",NaN,NaN,NaN,NaN
9,10,CT2020,Bronx,36005001600,2001600.0,NaN,NaN,NaN,"5,795",100.0,...,NaN,NaN,NaN,NaN,NaN,"9,913.0",NaN,NaN,NaN,NaN
10,11,CT2020,Bronx,36005001901,2001901.0,NaN,NaN,NaN,"2,292",100.0,...,NaN,NaN,NaN,NaN,NaN,"3,183.1",NaN,NaN,NaN,NaN
11,12,CT2020,Bronx,36005001902,2001902.0,NaN,NaN,NaN,"1,613",100.0,...,NaN,NaN,NaN,NaN,NaN,"2,107.0",NaN,NaN,NaN,NaN
12,13,CT2020,Bronx,36005001903,2001903.0,NaN,NaN,NaN,2,100.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
13,14,CT2020,Bronx,36005001904,2001904.0,NaN,NaN,NaN,0,100.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
14,15,CT2020,Bronx,36005002001,2002001.0,NaN,NaN,NaN,"5,007",100.0,...,NaN,NaN,NaN,NaN,NaN,"8,759.7",NaN,NaN,NaN,NaN
15,16,CT2020,Bronx,36005002002,2002002.0,NaN,NaN,NaN,"4,584",100.0,...,NaN,NaN,NaN,NaN,NaN,"7,901.8",NaN,NaN,NaN,NaN
16,17,CT2020,Bronx,36005002300,2002300.0,NaN,NaN,NaN,"4,742",100.0,...,NaN,NaN,NaN,NaN,NaN,"8,233.1",NaN,NaN,NaN,NaN
17,18,CT2020,Bronx,36005002400,2002400.0,NaN,NaN,NaN,6,100.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
18,19,CT2020,Bronx,36005002500,2002500.0,NaN,NaN,NaN,"5,442",100.0,...,NaN,NaN,NaN,NaN,NaN,"9,097.3",NaN,NaN,NaN,NaN
19,20,CT2020,Bronx,36005002701,2002701.0,NaN,NaN,NaN,"3,080",100.0,...,NaN,NaN,NaN,NaN,NaN,"5,157.2",NaN,NaN,NaN,NaN
20,21,CT2020,Bronx,36005002702,2002702.0,NaN,NaN,NaN,"4,995",100.0,...,NaN,NaN,NaN,NaN,NaN,"8,322.2",NaN,NaN,NaN,NaN
21,22,CT2020,Bronx,36005002800,2002800.0,NaN,NaN,NaN,"5,853",100.0,...,NaN,NaN,NaN,NaN,NaN,"7,822.4",NaN,NaN,NaN,NaN
22,23,CT2020,Bronx,36005003100,2003100.0,NaN,NaN,NaN,"2,964",100.0,...,NaN,NaN,NaN,NaN,NaN,"4,849.0",NaN,NaN,NaN,NaN
23,24,CT2020,Bronx,36005003300,2003300.0,NaN,NaN,NaN,"3,689",100.0,...,NaN,NaN,NaN,NaN,NaN,"6,187.1",NaN,NaN,NaN,NaN
24,25,CT2020,Bronx,36005003500,2003500.0,NaN,NaN,NaN,"3,726",100.0,...,NaN,NaN,NaN,NaN,NaN,"6,339.7",NaN,NaN,NaN,NaN
25,26,CT2020,Bronx,36005003700,2003700.0,NaN,NaN,NaN,340,100.0,...,NaN,NaN,NaN,NaN,NaN,417.9,NaN,NaN,NaN,NaN
26,27,CT2020,Bronx,36005003800,2003800.0,NaN,NaN,NaN,"1,683",100.0,...,NaN,NaN,NaN,NaN,NaN,"2,649.7",NaN,NaN,NaN,NaN
27,28,CT2020,Bronx,36005003900,2003900.0,NaN,NaN,NaN,"6,345",100.0,...,NaN,NaN,NaN,NaN,NaN,"10,231.7",NaN,NaN,NaN,NaN
28,29,CT2020,Bronx,36005004001,2004001.0,NaN,NaN,NaN,"1,739",100.0,...,NaN,NaN,NaN,NaN,NaN,"2,709.4",NaN,NaN,NaN,NaN
29,30,CT2020,Bronx,36005004100,2004100.0,NaN,NaN,NaN,"6,146",100.0,...,NaN,NaN,NaN,NaN,NaN,"10,593.7",NaN,NaN,NaN,NaN
30,31,CT2020,Bronx,36005004200,2004200.0,NaN,NaN,NaN,"7,201",100.0,...,NaN,NaN,NaN,NaN,NaN,"12,532.6",NaN,NaN,NaN,NaN
31,32,CT2020,Bronx,36005004300,2004300.0,NaN,NaN,NaN,"5,883",100.0,...,NaN,NaN,NaN,NaN,NaN,"10,130.5",NaN,NaN,NaN,NaN
32,33,CT2020,Bronx,36005004400,2004400.0,NaN,NaN,NaN,"4,642",100.0,...,NaN,NaN,NaN,NaN,NaN,"7,642.1",NaN,NaN,NaN,NaN
33,34,CT2020,Bronx,36005004600,2004600.0,NaN,NaN,NaN,"1,976",100.0,...,NaN,NaN,NaN,NaN,NaN,"3,284.4",NaN,NaN,NaN,NaN
34,35,CT2020,Bronx,36005004800,2004800.0,NaN,NaN,NaN,"4,184",100.0,...,NaN,NaN,NaN,NaN,NaN,"7,203.1",NaN,NaN,39,0.9
35,36,CT2020,Bronx,36005005001,2005001.0,NaN,NaN,NaN,"4,960",100.0,...,NaN,NaN,NaN,NaN,NaN,"7,970.6",NaN,NaN,NaN,NaN
36,37,CT2020,Bronx,36005005002,2005002.0,NaN,NaN,NaN,"6,518",100.0,...,NaN,NaN,NaN,NaN,NaN,"10,344.4",NaN,NaN,41,0.6
37,38,CT2020,Bronx,36005005100,2005100.0,NaN,NaN,NaN,"6,459",100.0,...,NaN,NaN,NaN,NaN,NaN,"11,173.3",NaN,NaN,NaN,NaN
38,39,CT2020,Bronx,36005005200,2005200.0,NaN,NaN,NaN,"2,130",100.0,...,NaN,NaN,NaN,NaN,NaN,"3,403.8",NaN,NaN,NaN,NaN
39,40,CT2020,Bronx,36005005300,2005300.0,NaN,NaN,NaN,"4,371",100.0,...,NaN,NaN,NaN,NaN,NaN,"6,549.5",NaN,NaN,NaN,NaN
40,41,CT2020,Bronx,36005005400,2005400.0,NaN,NaN,NaN,"6,804",100.0,...,NaN,NaN,NaN,NaN,NaN,"11,144.3",NaN,NaN,97,1.4
41,42,CT2020,Bronx,36005005600,2005600.0,NaN,NaN,NaN,"2,863",100.0,...,NaN,NaN,NaN,NaN,NaN,"4,531.9",NaN,NaN,53,1.9
42,43,CT2020,Bronx,36005005902,2005902.0,NaN,NaN,NaN,"2,577",100.0,...,NaN,NaN,NaN,NaN,NaN,"3,970.2",NaN,NaN,NaN,NaN
43,44,CT2020,Bronx,36005006000,2006000.0,NaN,NaN,NaN,"1,262",100.0,...,NaN,NaN,NaN,NaN,NaN,"2,163.9",NaN,NaN,NaN,NaN
44,45,CT2020,Bronx,36005006100,2006100.0,NaN,NaN,NaN,"3,444",100.0,...,NaN,NaN,NaN,NaN,NaN,"4,449.5",NaN,NaN,NaN,NaN
45,46,CT2020,Bronx,36005006200,2006200.0,NaN,NaN,NaN,"6,769",100.0,...,NaN,NaN,NaN,NaN,NaN,"11,860.6",NaN,NaN,34,0.5
46,47,CT2020,Bronx,36005006301,2006301.0,NaN,NaN,NaN,"6,567",100.0,...,NaN,NaN,NaN,NaN,NaN,"10,895.5",NaN,NaN,NaN,NaN
47,48,CT2020,Bronx,36005006302,2006302.0,NaN,NaN,NaN,19,100.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
48,49,CT2020,Bronx,36005006400,2006400.0,NaN,NaN,NaN,"4,186",100.0,...,NaN,NaN,NaN,NaN,NaN,"6,531.4",NaN,NaN,83,2.0
49,50,CT2020,Bronx,36005006500,2006500.0,NaN,NaN,NaN,"6,251",100.0,...,NaN,NaN,NaN,NaN,NaN,"10,235.4",NaN,NaN,31,0.5

In [41]:
# Check how many rows and columns this dataframe has
df_filtered = df[(df["Borough"] == "Manhattan")]

In [42]:
df.dtypes

Orig Order            int64
GeoType              object
Borough              object
GeoID                object
BCT2020             float64
                     ...
SORBlznP_Alone      float64
SORBrzln_Alone       object
SORBrzlnP_Alone     float64
SORGuyans_Alone      object
SORGuyansP_Alone    float64
Length: 370, dtype: object

In [43]:
#another way to get a summary of columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2717 entries, 0 to 2716
Columns: 370 entries, Orig Order to SORGuyansP_Alone
dtypes: float64(205), int64(1), object(164)
memory usage: 7.7+ MB

In [44]:
# Look at column names. Some have spaces in or after the name, e.g., 'Insurance Type '.
df.columns

Index(['Orig Order', 'GeoType', 'Borough', 'GeoID', 'BCT2020', 'GeoName',
       'CDType', 'NTAType', 'Pop', 'PopP',
       ...
       'Native Hawaiian and Other Pacific Islander.8',
       'Native Hawaiian and Other Pacific Islander.9',
       'Native Hawaiian and Other Pacific Islander.10',
       'Native Hawaiian and Other Pacific Islander.11', 'SORBlzn_Alone',
       'SORBlznP_Alone', 'SORBrzln_Alone', 'SORBrzlnP_Alone',
       'SORGuyans_Alone', 'SORGuyansP_Alone'],
      dtype='object', length=370)

In [45]:
print(df["Borough"].unique())
print(df["GeoType"].unique())

['New York City' 'Manhattan' 'Bronx' 'Brooklyn' 'Queens' 'Staten Island'
 'Manhattan, Bronx' 'Queens, Bronx' 'Brooklyn, Queens'
 'Staten Island, Brooklyn']
['City2020' 'Boro2020' 'CT2020' 'NTA2020' 'CDTA2020' 'CCD2023']

In [46]:
df["GeoType"] = df["GeoType"].astype(str).str.strip()
df["Borough"] = df["Borough"].astype(str).str.strip()

In [72]:
# Strip leading/trailing spaces and extra quotes, and lowercase everything
df["Borough"] = df["Borough"].astype(str).str.strip().str.strip("'").str.lower()
df["GeoType"] = df["GeoType"].astype(str).str.strip().str.strip("'").str.lower()

In [73]:
df_filtered = df[(df["GeoType"] == "ct2020") & (df["Borough"] == "manhattan")]
print(df_filtered.head())
print("Rows found:", len(df_filtered))

      Orig Order GeoType    Borough        GeoID    BCT2020 GeoName  CDType  \
1172        1173  ct2020  manhattan  36061000100  1000100.0     NaN     NaN
1173        1174  ct2020  manhattan  36061000201  1000201.0     NaN     NaN
1174        1175  ct2020  manhattan  36061000202  1000202.0     NaN     NaN
1175        1176  ct2020  manhattan  36061000500  1000500.0     NaN     NaN
1176        1177  ct2020  manhattan  36061000600  1000600.0     NaN     NaN

      NTAType     Pop   PopP  ...  \
1172      NaN       0  100.0  ...
1173      NaN   2,012  100.0  ...
1174      NaN   7,266  100.0  ...
1175      NaN       5  100.0  ...
1176      NaN  11,616  100.0  ...

     Native Hawaiian and Other Pacific Islander.8  \
1172                                          NaN
1173                                          NaN
1174                                          NaN
1175                                          NaN
1176                                          NaN

      Native Hawaiian and Other Pacific Islander.9  \
1172                                           NaN
1173                                           NaN
1174                                           NaN
1175                                           NaN
1176                                           NaN

     Native Hawaiian and Other Pacific Islander.10  \
1172                                           NaN
1173                                           NaN
1174                                           NaN
1175                                           NaN
1176                                           NaN

      Native Hawaiian and Other Pacific Islander.11 SORBlzn_Alone  \
1172                                            NaN           NaN
1173                                            NaN           NaN
1174                                            NaN           NaN
1175                                            NaN           NaN
1176                                            NaN           NaN

      SORBlznP_Alone SORBrzln_Alone  SORBrzlnP_Alone SORGuyans_Alone  \
1172             NaN            NaN              NaN             NaN
1173             NaN            NaN              NaN             NaN
1174             NaN            NaN              NaN             NaN
1175             NaN            NaN              NaN             NaN
1176             NaN            NaN              NaN             NaN

      SORGuyansP_Alone
1172               NaN
1173               NaN
1174               NaN
1175               NaN
1176               NaN

[5 rows x 370 columns]
Rows found: 310

In [76]:
df_filtered.head()

,Orig Order,GeoType,Borough,GeoID,BCT2020,GeoName,CDType,NTAType,Pop,PopP,...,Native Hawaiian and Other Pacific Islander.8,Native Hawaiian and Other Pacific Islander.9,Native Hawaiian and Other Pacific Islander.10,Native Hawaiian and Other Pacific Islander.11,SORBlzn_Alone,SORBlznP_Alone,SORBrzln_Alone,SORBrzlnP_Alone,SORGuyans_Alone,SORGuyansP_Alone
1172,1173,ct2020,manhattan,36061000100,1000100.0,NaN,NaN,NaN,0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1173,1174,ct2020,manhattan,36061000201,1000201.0,NaN,NaN,NaN,"2,012",100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1174,1175,ct2020,manhattan,36061000202,1000202.0,NaN,NaN,NaN,"7,266",100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1175,1176,ct2020,manhattan,36061000500,1000500.0,NaN,NaN,NaN,5,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1176,1177,ct2020,manhattan,36061000600,1000600.0,NaN,NaN,NaN,"11,616",100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [119]:
for col in df_filtered.columns:
    if "White" in col or "Black" in col or "Asian" in col or "Hispanic" or "Pop" in col:
        print(col)

Orig Order
GeoType
Borough
GeoID
BCT2020
GeoName
CDType
NTAType
Pop
PopP
Hispanic
Hispanic.1
Hispanic.2
Hispanic.3
Hispanic.4
Hispanic.5
Hispanic.6
Hispanic.7
Hispanic.8
Hispanic.9
Hispanic.10
Hispanic.11
Hispanic.12
Hispanic.13
Hispanic.14
Hispanic.15
Hispanic.16
Hispanic.17
Hispanic.18
Hispanic.19
Hispanic.20
Hispanic.21
Hispanic.22
Hispanic.23
Hispanic.24
Hispanic.25
Hispanic.26
Hispanic.27
Hispanic.28
Hispanic.29
Hispanic.30
Hispanic.31
Hispanic.32
Hispanic.33
Hispanic.34
Hispanic.35
Hispanic.36
Hispanic.37
Hispanic.38
Hispanic.39
Hispanic.40
Hispanic.41
Hispanic.42
Hispanic.43
Hispanic.44
Hispanic.45
Hispanic.46
Hispanic.47
Hispanic.48
Hispanic.49
Hispanic.50
Hispanic.51
Hispanic.52
Hispanic.53
White
White .1
White .2
White .3
White .4
White .5
White .6
White .7
White .8
White .9
White .10
White .11
White .12
White .13
White .14
White .15
White .16
White .17
White .18
White .19
White .20
White .21
White .22
White .23
White .24
White .25
White .26
White .27
White .28
White .29
White .30
White .31
White .32
White .33
White .34
White .35
White .36
White .37
White .38
White .39
White .40
White .41
White .42
White .43
White .44
White .45
White .46
White .47
White .48
White .49
White .50
White .51
White .52
White .53
White .54
White .55
White .56
White .57
White .58
White .59
White .60
White .61
White .62
White .63
White .64
White .65
White .66
White .67
White .68
White .69
White .70
White .71
White .72
White .73
White .74
White .75
White .76
White .77
White .78
White .79
White .80
White .81
White .82
White .83
White .84
White .85
White .86
White .87
White .88
White .89
White .90
White .91
White .92
White .93
White .94
White .95
White .96
White .97
White .98
White .99
White .100
White .101
White .102
White .103
White .104
White .105
White .106
White .107
White .108
White .109
White .110
White .111
White .112
White .113
White .114
White .115
White .116
White .117
White .118
White .119
White .120
White .121
White .122
White .123
White .124
White .125
White .126
White .127
White .128
White .129
White .130
White .131
White .132
White .133
White .134
White .135
Black or African American
Black or African American.1
Black or African American.2
Black or African American.3
Black or African American.4
Black or African American.5
Black or African American.6
Black or African American.7
Black or African American.8
Black or African American.9
Black or African American.10
Black or African American.11
Black or African American.12
Black or African American.13
Black or African American.14
Black or African American.15
Black or African American.16
Black or African American.17
Black or African American.18
Black or African American.19
Black or African American.20
Black or African American.21
Black or African American.22
Black or African American.23
Black or African American.24
Black or African American.25
Black or African American.26
Black or African American.27
Black or African American.28
Black or African American.29
Black or African American.30
Black or African American.31
Black or African American.32
Black or African American.33
Black or African American.34
Black or African American.35
Black or African American.36
Black or African American.37
Black or African American.38
Black or African American.39
Black or African American.40
Black or African American.41
Black or African American.42
Black or African American.43
Black or African American.44
Black or African American.45
Black or African American.46
Black or African American.47
Black or African American.48
Black or African American.49
Black or African American.50
Black or African American.51
Black or African American.52
Black or African American.53
Black or African American.54
Black or African American.55
Black or African American.56
Black or African American.57
Black or African American.58
Black or African American.59
Black or African American.60
Black or African American.61
Black or African American.62
Black or African American.63
Black or African American.64
Black or African American.65
Black or African American.66
Black or African American.67
American Indian or Alaska Native
American Indian or Alaska Native .1
American Indian or Alaska Native .2
American Indian or Alaska Native .3
American Indian or Alaska Native .4
American Indian or Alaska Native .5
American Indian or Alaska Native .6
American Indian or Alaska Native .7
American Indian or Alaska Native .8
American Indian or Alaska Native .9
American Indian or Alaska Native .10
American Indian or Alaska Native .11
American Indian or Alaska Native .12
American Indian or Alaska Native .13
American Indian or Alaska Native .14
American Indian or Alaska Native .15
American Indian or Alaska Native .16
American Indian or Alaska Native .17
American Indian or Alaska Native .18
American Indian or Alaska Native .19
American Indian or Alaska Native .20
American Indian or Alaska Native .21
American Indian or Alaska Native .22
American Indian or Alaska Native .23
American Indian or Alaska Native .24
American Indian or Alaska Native .25
American Indian or Alaska Native .26
American Indian or Alaska Native .27
American Indian or Alaska Native .28
American Indian or Alaska Native .29
American Indian or Alaska Native .30
American Indian or Alaska Native .31
American Indian or Alaska Native .32
American Indian or Alaska Native .33
American Indian or Alaska Native .34
American Indian or Alaska Native .35
American Indian or Alaska Native .36
American Indian or Alaska Native .37
American Indian or Alaska Native .38
American Indian or Alaska Native .39
American Indian or Alaska Native .40
American Indian or Alaska Native .41
American Indian or Alaska Native .42
American Indian or Alaska Native .43
American Indian or Alaska Native .44
American Indian or Alaska Native .45
American Indian or Alaska Native .46
American Indian or Alaska Native .47
American Indian or Alaska Native .48
American Indian or Alaska Native .49
American Indian or Alaska Native .50
American Indian or Alaska Native .51
Asian
Asian.1
Asian.2
Asian.3
Asian.4
Asian.5
Asian.6
Asian.7
Asian.8
Asian.9
Asian.10
Asian.11
Asian.12
Asian.13
Asian.14
Asian.15
Asian.16
Asian.17
Asian.18
Asian.19
Asian.20
Asian.21
Asian.22
Asian.23
Asian.24
Asian.25
Asian.26
Asian.27
Asian.28
Asian.29
Asian.30
Asian.31
Native Hawaiian and Other Pacific Islander
Native Hawaiian and Other Pacific Islander.1
Native Hawaiian and Other Pacific Islander.2
Native Hawaiian and Other Pacific Islander.3
Native Hawaiian and Other Pacific Islander.4
Native Hawaiian and Other Pacific Islander.5
Native Hawaiian and Other Pacific Islander.6
Native Hawaiian and Other Pacific Islander.7
Native Hawaiian and Other Pacific Islander.8
Native Hawaiian and Other Pacific Islander.9
Native Hawaiian and Other Pacific Islander.10
Native Hawaiian and Other Pacific Islander.11
SORBlzn_Alone
SORBlznP_Alone
SORBrzln_Alone
SORBrzlnP_Alone
SORGuyans_Alone
SORGuyansP_Alone

In [120]:
keep = ['White ', 'Black or African American', 'Asian', 'Hispanic', 'Pop']
demo_tract = df[keep].copy()

In [121]:
print(demo_tract.columns)

Index(['White ', 'Black or African American', 'Asian', 'Hispanic', 'Pop'], dtype='object')

In [127]:
import pandas as pd

# Load the dataset
df = pd.read_csv("/Users/jennifercasavantes/Downloads/Alone_or_in_Any_Combination_modified.csv")

# Convert all columns to numeric where possible
df = df.apply(pd.to_numeric, errors='ignore')

# Step 1: Identify columns that contain each category
white_cols = [col for col in df.columns if 'White ' in col]
black_cols = [col for col in df.columns if 'Black or African American' in col]
asian_cols = [col for col in df.columns if 'Asian' in col]
hispanic_cols = [col for col in df.columns if 'Hispanic' in col]

# Step 2: Sum columns by group
df['White '] = df[white_cols].apply(pd.to_numeric, errors='coerce').sum(axis=1)
df['Black'] = df[black_cols].apply(pd.to_numeric, errors='coerce').sum(axis=1)
df['Asian'] = df[asian_cols].apply(pd.to_numeric, errors='coerce').sum(axis=1)
df['Hispanic'] = df[hispanic_cols].apply(pd.to_numeric, errors='coerce').sum(axis=1)

# Step 3: Use total population column (you can confirm exact name here)
pop_col = [col for col in df.columns if "Pop" in col or "Total" in col][0]
df['Pop'] = pd.to_numeric(df[pop_col], errors='coerce')

# Step 4: Compute percentages
df['% White'] = df['White '] / df['Pop']
df['% Black'] = df['Black'] / df['Pop']
df['% Asian'] = df['Asian'] / df['Pop']
df['% Hispanic'] = df['Hispanic'] / df['Pop']

# Step 5: Keep relevant results
demo_tract = df[['White ', 'Black', 'Asian', 'Hispanic', 'Pop', '% White', '% Black', '% Asian', '% Hispanic']]

# Display first rows
print(demo_tract.head())

   White   Black  Asian  Hispanic  Pop  % White  % Black  % Asian  % Hispanic
0     0.0    0.0    0.0       0.0  0.0      NaN      NaN      NaN         NaN
1   162.0  184.0    0.0       0.0  NaN      NaN      NaN      NaN         NaN
2     0.0  675.0    0.0      50.0  NaN      NaN      NaN      NaN         NaN
3     0.0    0.0    0.0       0.0  5.0      0.0      0.0      0.0         0.0
4   757.0  802.0  117.0      89.0  NaN      NaN      NaN      NaN         NaN

/var/folders/5m/lm7lkjcj0091slj1knvhj6g00000gn/T/ipykernel_8417/1283534967.py:7: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(pd.to_numeric, errors='ignore')

In [116]:
demo_tract.to_csv("/Users/jennifercasavantes/Downloads/demographics_by_tract.csv", index=False)

In [7]:
# Clean the column names to remove white space after the name or in the name
df.columns = df.columns.str.replace(' ', '')
#df.columns = df.columns.str.replace(' ', '_')

In [8]:
df.columns

Index(['GeographicArea-Borough', 'GeographicArea-2010CensusFIPSCountyCode',
       'GeographicArea-NeighborhoodTabulationArea(NTA)*Code',
       'GeographicArea-NeighborhoodTabulationArea(NTA)*Name',
       'TotalPopulation2000Number', 'TotalPopulation2010Number',
       'TotalPopulationChange2000-2010Number',
       'TotalPopulationChange2000-2010Percent'],
      dtype='object')

In [9]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
GeographicArea-2010CensusFIPSCountyCode,195.0,54.712821,28.320689,5.0,47.00,61.0,81.000,85.0
TotalPopulation2000Number,195.0,41068.092308,22569.317082,0.0,25635.00,35181.0,54178.500,136954.0
TotalPopulation2010Number,195.0,41923.758974,22282.970575,0.0,26172.00,36891.0,53896.000,132378.0
TotalPopulationChange2000-2010Number,195.0,855.666667,3292.093029,-10329.0,-700.00,455.0,2088.500,19611.0
TotalPopulationChange2000-2010Percent,194.0,5.213918,33.484918,-100.0,-1.85,1.5,6.875,349.5

In [11]:
df[df['GeographicArea-2010CensusFIPSCountyCode'] >= 200000]

Empty DataFrame
Columns: [GeographicArea-Borough, GeographicArea-2010CensusFIPSCountyCode, GeographicArea-NeighborhoodTabulationArea(NTA)*Code, GeographicArea-NeighborhoodTabulationArea(NTA)*Name, TotalPopulation2000Number, TotalPopulation2010Number, TotalPopulationChange2000-2010Number, TotalPopulationChange2000-2010Percent]
Index: []

In [12]:
numeric_columns = df.select_dtypes(['int64', 'float64']).columns
numeric_columns

Index(['GeographicArea-2010CensusFIPSCountyCode', 'TotalPopulation2000Number',
       'TotalPopulation2010Number', 'TotalPopulationChange2000-2010Number',
       'TotalPopulationChange2000-2010Percent'],
      dtype='object')

In [24]:
import pandas as pd

# Step 1: Load your dataset (update the path or URL if needed)
df = pd.read_csv("/Users/jennifercasavantes/Downloads/Census_Demographics_at_the_Neighborhood_Tabulation_Area__NTA__level_20250525.csv")  # Replace with your actual filename

# Step 2: Clean column names (removes spaces, tabs, invisible characters)
df.columns = df.columns.str.strip()

# Step 3: (Optional) See all column names to double-check spelling
print("Column names in dataset:")
print(df.columns.tolist())

# Step 4: Define feature types after cleaning
categorical_cols = [
    'Geographic Area - Borough',
    'Geographic Area - Neighborhood Tabulation Area (NTA)* Name'
]

continuous_cols = [
    'Total Population 2000 Number',
    'Total Population 2010 Number',
    'Total Population Change 2000-2010 Number',
    'Total Population Change 2000-2010 Percent'
]

# Step 5: Print out data types of each group
print("\nCategorical Columns:")
print(df[categorical_cols].dtypes)

print("\nContinuous Columns:")
print(df[continuous_cols].dtypes)

Column names in dataset:
['Geographic Area - Borough', 'Geographic Area - 2010 Census FIPS County Code', 'Geographic Area - Neighborhood Tabulation Area (NTA)* Code', 'Geographic Area - Neighborhood Tabulation Area (NTA)* Name', 'Total Population 2000 Number', 'Total Population 2010 Number', 'Total Population Change 2000-2010 Number', 'Total Population Change 2000-2010 Percent']

Categorical Columns:
Geographic Area - Borough                                     object
Geographic Area - Neighborhood Tabulation Area (NTA)* Name    object
dtype: object

Continuous Columns:
Total Population 2000 Number                 float64
Total Population 2010 Number                 float64
Total Population Change 2000-2010 Number     float64
Total Population Change 2000-2010 Percent    float64
dtype: object