In [1]:
# From your virtul environment, install the pandas package for working with data frames: 
# pip install pandas
# pandas is an open source Python library for data analysis
# A data frame allows us to read and access data stored in spreadsheet (.csv) format
# Good tutorial on pandas: http://pandas.pydata.org/pandas-docs/stable/10min.html
# Pandas Cookbook: http://pandas.pydata.org/pandas-docs/stable/tutorials.html
# Another good resource for pandas: http://chrisalbon.com/python/pandas_dataframe_importing_csv.htm

#Import the required packages
#Import package pandas for data analysis
import pandas as pd

# Import package numpy for numeric computing
import numpy as np

# Import package matplotlib for visualisation/plotting jjo
import matplotlib.pyplot as plt

#For showing plots directly in the notebook run the command below
%matplotlib inline

# For saving multiple plots into a single pdf file
from matplotlib.backends.backend_pdf import PdfPages

In [2]:
# Reading from a csv file, into a data frame
# Can set parameters to remove white space from the beginning and end of column names
# Read more about .read_csv() here: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html
df = pd.read_csv('/Users/jennifercasavantes/Downloads/Census_Demographics_at_the_Neighborhood_Tabulation_Area__NTA__level_20250525.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)
#How many rows should be displayed in full
pd.set_option('display.max_rows', 100)
# Show data frame first few rows
df.head(50)

,Geographic Area - Borough,Geographic Area - 2010 Census FIPS County Code,Geographic Area - Neighborhood Tabulation Area (NTA)* Code,Geographic Area - Neighborhood Tabulation Area (NTA)* Name,Total Population 2000 Number,Total Population 2010 Number,Total Population Change 2000-2010 Number,Total Population Change 2000-2010 Percent
0,Bronx,5.0,BX01,Claremont-Bathgate,28149.0,31078.0,2929.0,10.4
1,Bronx,5.0,BX03,Eastchester-Edenwald-Baychester,35422.0,34517.0,-905.0,-2.6
2,Bronx,5.0,BX05,Bedford Park-Fordham North,55329.0,54415.0,-914.0,-1.7
3,Bronx,5.0,BX06,Belmont,25967.0,27378.0,1411.0,5.4
4,Bronx,5.0,BX07,Bronxdale,34309.0,35538.0,1229.0,3.6
5,Bronx,5.0,BX08,West Farms-Bronx River,34542.0,35011.0,469.0,1.4
6,Bronx,5.0,BX09,Soundview-Castle Hill-Clason Point-Harding Park,50753.0,53686.0,2933.0,5.8
7,Bronx,5.0,BX10,Pelham Bay-Country Club-City Island,27140.0,26583.0,-557.0,-2.1
8,Bronx,5.0,BX13,Co-Op City,40676.0,43752.0,3076.0,7.6
9,Bronx,5.0,BX14,East Concourse-Concourse Village,58961.0,62284.0,3323.0,5.6
10,Bronx,5.0,BX17,East Tremont,39280.0,43423.0,4143.0,10.5
11,Bronx,5.0,BX22,North Riverdale-Fieldston-Riverdale,28013.0,27860.0,-153.0,-0.5
12,Bronx,5.0,BX26,Highbridge,33844.0,37727.0,3883.0,11.5
13,Bronx,5.0,BX27,Hunts Point,25142.0,27204.0,2062.0,8.2
14,Bronx,5.0,BX28,Van Cortlandt Village,50607.0,50100.0,-507.0,-1.0
15,Bronx,5.0,BX29,Spuyten Duyvil-Kingsbridge,29872.0,30161.0,289.0,1.0
16,Bronx,5.0,BX30,Kingsbridge Heights,33286.0,32496.0,-790.0,-2.4
17,Bronx,5.0,BX31,Allerton-Pelham Gardens,28510.0,28903.0,393.0,1.4
18,Bronx,5.0,BX33,Longwood,23082.0,26196.0,3114.0,13.5
19,Bronx,5.0,BX34,Melrose South-Mott Haven North,33195.0,39214.0,6019.0,18.1
20,Bronx,5.0,BX35,Morrisania-Melrose,29797.0,37865.0,8068.0,27.1
21,Bronx,5.0,BX36,University Heights-Morris Heights,54335.0,54188.0,-147.0,-0.3
22,Bronx,5.0,BX37,Van Nest-Morris Park-Westchester Square,27135.0,29250.0,2115.0,7.8
23,Bronx,5.0,BX39,Mott Haven-Port Morris,49030.0,52413.0,3383.0,6.9
24,Bronx,5.0,BX40,Fordham South,26880.0,28262.0,1382.0,5.1
25,Bronx,5.0,BX41,Mount Hope,52649.0,51807.0,-842.0,-1.6
26,Bronx,5.0,BX43,Norwood,40817.0,40494.0,-323.0,-0.8
27,Bronx,5.0,BX44,Williamsbridge-Olinville,57420.0,61321.0,3901.0,6.8
28,Bronx,5.0,BX46,Parkchester,29353.0,29821.0,468.0,1.6
29,Bronx,5.0,BX49,Pelham Parkway,30006.0,30073.0,67.0,0.2
30,Bronx,5.0,BX52,Schuylerville-Throgs Neck-Edgewater Park,43712.0,44167.0,455.0,1.0
31,Bronx,5.0,BX55,Soundview-Bruckner,35137.0,35634.0,497.0,1.4
32,Bronx,5.0,BX59,Westchester-Unionport,25768.0,27248.0,1480.0,5.7
33,Bronx,5.0,BX62,Woodlawn-Wakefield,43583.0,42483.0,-1100.0,-2.5
34,Bronx,5.0,BX63,West Concourse,39557.0,39282.0,-275.0,-0.7
35,Bronx,5.0,BX75,Crotona Park East,18072.0,20277.0,2205.0,12.2
36,Bronx,5.0,BX98,Rikers Island,12780.0,11091.0,-1689.0,-13.2
37,Bronx,5.0,BX99,park-cemetery-etc-Bronx,540.0,1906.0,1366.0,253.0
38,Brooklyn,47.0,BK09,Brooklyn Heights-Cobble Hill,22548.0,22887.0,339.0,1.5
39,Brooklyn,47.0,BK17,Sheepshead Bay-Gerritsen Beach-Manhattn Bch,64596.0,64518.0,-78.0,-0.1
40,Brooklyn,47.0,BK19,Brighton Beach,35244.0,35547.0,303.0,0.9
41,Brooklyn,47.0,BK21,Seagate-Coney Island,34267.0,31965.0,-2302.0,-6.7
42,Brooklyn,47.0,BK23,West Brighton,17370.0,17750.0,380.0,2.2
43,Brooklyn,47.0,BK25,Homecrest,45679.0,44316.0,-1363.0,-3.0
44,Brooklyn,47.0,BK26,Gravesend,29257.0,29436.0,179.0,0.6
45,Brooklyn,47.0,BK27,Bath Beach,28572.0,29931.0,1359.0,4.8
46,Brooklyn,47.0,BK28,Bensonhurst West,84640.0,88727.0,4087.0,4.8
47,Brooklyn,47.0,BK29,Bensonhurst East,58566.0,62978.0,4412.0,7.5
48,Brooklyn,47.0,BK30,Dyker Heights,39332.0,42419.0,3087.0,7.8
49,Brooklyn,47.0,BK31,Bay Ridge,80539.0,79371.0,-1168.0,-1.5

In [3]:
# Check how many rows and columns this dataframe has
df.shape

(197, 8)

In [4]:
df.dtypes

Geographic Area - Borough                                      object
Geographic Area - 2010 Census FIPS County Code                float64
Geographic Area - Neighborhood Tabulation Area (NTA)* Code     object
Geographic Area - Neighborhood Tabulation Area (NTA)* Name     object
Total Population 2000 Number                                  float64
Total Population 2010 Number                                  float64
Total Population Change 2000-2010 Number                      float64
Total Population Change 2000-2010 Percent                     float64
dtype: object

In [5]:
#another way to get a summary of columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 8 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Geographic Area - Borough                                   197 non-null    object
 1   Geographic Area - 2010 Census FIPS County Code              195 non-null    float64
 2   Geographic Area - Neighborhood Tabulation Area (NTA)* Code  195 non-null    object
 3   Geographic Area - Neighborhood Tabulation Area (NTA)* Name  195 non-null    object
 4   Total Population 2000 Number                                195 non-null    float64
 5   Total Population 2010 Number                                195 non-null    float64
 6   Total Population Change 2000-2010 Number                    195 non-null    float64
 7   Total Population Change 2000-2010 Percent                   194 non-null    float64
dtypes: float64(5), object(3)
memory usage: 12.4+ KB

In [6]:
# Look at column names. Some have spaces in or after the name, e.g., 'Insurance Type '.
df.columns

Index(['Geographic Area - Borough',
       'Geographic Area - 2010 Census FIPS County Code',
       'Geographic Area - Neighborhood Tabulation Area (NTA)* Code',
       'Geographic Area - Neighborhood Tabulation Area (NTA)* Name',
       'Total Population 2000 Number', 'Total Population 2010 Number',
       'Total Population Change 2000-2010 Number',
       'Total Population Change 2000-2010 Percent'],
      dtype='object')

In [7]:
# Clean the column names to remove white space after the name or in the name
df.columns = df.columns.str.replace(' ', '')
#df.columns = df.columns.str.replace(' ', '_')

In [8]:
df.columns

Index(['GeographicArea-Borough', 'GeographicArea-2010CensusFIPSCountyCode',
       'GeographicArea-NeighborhoodTabulationArea(NTA)*Code',
       'GeographicArea-NeighborhoodTabulationArea(NTA)*Name',
       'TotalPopulation2000Number', 'TotalPopulation2010Number',
       'TotalPopulationChange2000-2010Number',
       'TotalPopulationChange2000-2010Percent'],
      dtype='object')

In [9]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
GeographicArea-2010CensusFIPSCountyCode,195.0,54.712821,28.320689,5.0,47.00,61.0,81.000,85.0
TotalPopulation2000Number,195.0,41068.092308,22569.317082,0.0,25635.00,35181.0,54178.500,136954.0
TotalPopulation2010Number,195.0,41923.758974,22282.970575,0.0,26172.00,36891.0,53896.000,132378.0
TotalPopulationChange2000-2010Number,195.0,855.666667,3292.093029,-10329.0,-700.00,455.0,2088.500,19611.0
TotalPopulationChange2000-2010Percent,194.0,5.213918,33.484918,-100.0,-1.85,1.5,6.875,349.5

In [11]:
df[df['GeographicArea-2010CensusFIPSCountyCode'] >= 200000]

Empty DataFrame
Columns: [GeographicArea-Borough, GeographicArea-2010CensusFIPSCountyCode, GeographicArea-NeighborhoodTabulationArea(NTA)*Code, GeographicArea-NeighborhoodTabulationArea(NTA)*Name, TotalPopulation2000Number, TotalPopulation2010Number, TotalPopulationChange2000-2010Number, TotalPopulationChange2000-2010Percent]
Index: []

In [12]:
numeric_columns = df.select_dtypes(['int64', 'float64']).columns
numeric_columns

Index(['GeographicArea-2010CensusFIPSCountyCode', 'TotalPopulation2000Number',
       'TotalPopulation2010Number', 'TotalPopulationChange2000-2010Number',
       'TotalPopulationChange2000-2010Percent'],
      dtype='object')

In [18]:
import pandas as pd

# Step 1: Load your dataset (update the path or URL if needed)
df = pd.read_csv("/Users/jennifercasavantes/Downloads/Census_Demographics_at_the_Neighborhood_Tabulation_Area__NTA__level_20250525.csv")  # Replace with your actual filename

# Step 2: Clean column names (removes spaces, tabs, invisible characters)
df.columns = df.columns.str.strip()

# Step 3: (Optional) See all column names to double-check spelling
print("Column names in dataset:")
print(df.columns.tolist())

# Step 4: Define feature types after cleaning
categorical_cols = [
    'Geographic Area - Borough',
    'Geographic Area - Neighborhood Tabulation Area (NTA)* Name'
]

continuous_cols = [
    'Total Population 2000 Number',
    'Total Population 2010 Number',
    'Total Population Change 2000-2010 Number',
    'Total Population Change 2000-2010 Percent'
]

# Step 5: Print out data types of each group
print("\nCategorical Columns:")
print(df[categorical_cols].dtypes)

print("\nContinuous Columns:")
print(df[continuous_cols].dtypes)

Column names in dataset:
['Geographic Area - Borough', 'Geographic Area - 2010 Census FIPS County Code', 'Geographic Area - Neighborhood Tabulation Area (NTA)* Code', 'Geographic Area - Neighborhood Tabulation Area (NTA)* Name', 'Total Population 2000 Number', 'Total Population 2010 Number', 'Total Population Change 2000-2010 Number', 'Total Population Change 2000-2010 Percent']

Categorical Columns:
Geographic Area - Borough                                     object
Geographic Area - Neighborhood Tabulation Area (NTA)* Name    object
dtype: object

Continuous Columns:
Total Population 2000 Number                 float64
Total Population 2010 Number                 float64
Total Population Change 2000-2010 Number     float64
Total Population Change 2000-2010 Percent    float64
dtype: object