In [1]:
# From your virtul environment, install the pandas package for working with data frames: 
# pip install pandas
# pandas is an open source Python library for data analysis
# A data frame allows us to read and access data stored in spreadsheet (.csv) format
# Good tutorial on pandas: http://pandas.pydata.org/pandas-docs/stable/10min.html
# Pandas Cookbook: http://pandas.pydata.org/pandas-docs/stable/tutorials.html
# Another good resource for pandas: http://chrisalbon.com/python/pandas_dataframe_importing_csv.htm

#Import the required packages
#Import package pandas for data analysis
import pandas as pd

# Import package numpy for numeric computing
import numpy as np

# Import package matplotlib for visualisation/plotting
import matplotlib.pyplot as plt

#For showing plots directly in the notebook run the command below
%matplotlib inline

# For saving multiple plots into a single pdf file
from matplotlib.backends.backend_pdf import PdfPages

In [3]:
# Reading from a csv file, into a data frame
# Can set parameters to remove white space from the beginning and end of column names
# Read more about .read_csv() here: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html
df = pd.read_csv('/Users/jennifercasavantes/Downloads/2020_Yellow_Taxi_Trip_Data_20250523.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)
#How many rows should be displayed in full
pd.set_option('display.max_rows', 100)
# Show data frame first few rows
df.head(50)

/var/folders/5m/lm7lkjcj0091slj1knvhj6g00000gn/T/ipykernel_14093/80565754.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/jennifercasavantes/Downloads/2020_Yellow_Taxi_Trip_Data_20250523.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,01/01/2020 12:28:15 AM,01/01/2020 12:33:03 AM,1.0,1.20,1.0,N,238,239,1.0,6.00,3.0,0.5,1.47,0.00,0.3,11.27,2.5
1,1.0,01/01/2020 12:35:39 AM,01/01/2020 12:43:04 AM,1.0,1.20,1.0,N,239,238,1.0,7.00,3.0,0.5,1.50,0.00,0.3,12.30,2.5
2,1.0,01/01/2020 12:47:41 AM,01/01/2020 12:53:52 AM,1.0,0.60,1.0,N,238,238,1.0,6.00,3.0,0.5,1.00,0.00,0.3,10.80,2.5
3,1.0,01/01/2020 12:55:23 AM,01/01/2020 01:00:14 AM,1.0,0.80,1.0,N,238,151,1.0,5.50,0.5,0.5,1.36,0.00,0.3,8.16,0.0
4,2.0,01/01/2020 12:01:58 AM,01/01/2020 12:04:16 AM,1.0,0.00,1.0,N,193,193,2.0,3.50,0.5,0.5,0.00,0.00,0.3,4.80,0.0
5,2.0,01/01/2020 12:09:44 AM,01/01/2020 12:10:37 AM,1.0,0.03,1.0,N,7,193,2.0,2.50,0.5,0.5,0.00,0.00,0.3,3.80,0.0
6,2.0,01/01/2020 12:39:25 AM,01/01/2020 12:39:29 AM,1.0,0.00,1.0,N,193,193,1.0,2.50,0.5,0.5,0.01,0.00,0.3,3.81,0.0
7,2.0,12/18/2019 03:27:49 PM,12/18/2019 03:28:59 PM,1.0,0.00,5.0,N,193,193,1.0,0.01,0.0,0.0,0.00,0.00,0.3,2.81,2.5
8,2.0,12/18/2019 03:30:35 PM,12/18/2019 03:31:35 PM,4.0,0.00,1.0,N,193,193,1.0,2.50,0.5,0.5,0.00,0.00,0.3,6.30,2.5
9,1.0,01/01/2020 12:29:01 AM,01/01/2020 12:40:28 AM,2.0,0.70,1.0,N,246,48,1.0,8.00,3.0,0.5,2.35,0.00,0.3,14.15,2.5
10,1.0,01/01/2020 12:55:11 AM,01/01/2020 01:12:03 AM,2.0,2.40,1.0,N,246,79,1.0,12.00,3.0,0.5,1.75,0.00,0.3,17.55,2.5
11,1.0,01/01/2020 12:37:15 AM,01/01/2020 12:51:41 AM,1.0,0.80,1.0,N,163,161,2.0,9.50,3.0,0.5,0.00,0.00,0.3,13.30,2.5
12,1.0,01/01/2020 12:56:27 AM,01/01/2020 01:21:44 AM,1.0,3.30,1.0,N,161,144,1.0,17.00,3.0,0.5,4.15,0.00,0.3,24.95,2.5
13,2.0,01/01/2020 12:21:54 AM,01/01/2020 12:27:31 AM,1.0,1.07,1.0,N,43,239,1.0,6.00,0.5,0.5,1.96,0.00,0.3,11.76,2.5
14,2.0,01/01/2020 12:38:01 AM,01/01/2020 01:15:21 AM,1.0,7.76,1.0,N,143,25,1.0,28.50,0.5,0.5,4.84,0.00,0.3,37.14,2.5
15,1.0,01/01/2020 12:15:35 AM,01/01/2020 12:27:06 AM,3.0,1.60,1.0,N,211,234,2.0,9.00,3.0,0.5,0.00,0.00,0.3,12.80,2.5
16,1.0,01/01/2020 12:41:20 AM,01/01/2020 12:44:22 AM,1.0,0.50,1.0,Y,234,90,1.0,4.00,3.0,0.5,1.00,0.00,0.3,8.80,2.5
17,1.0,01/01/2020 12:56:38 AM,01/01/2020 01:13:34 AM,1.0,1.70,1.0,N,246,142,2.0,11.50,3.0,0.5,0.00,0.00,0.3,15.30,2.5
18,2.0,01/01/2020 12:08:21 AM,01/01/2020 12:25:29 AM,1.0,8.45,1.0,N,138,216,2.0,24.50,0.5,0.5,0.00,0.00,0.3,25.80,0.0
19,1.0,01/01/2020 12:25:39 AM,01/01/2020 12:27:05 AM,1.0,0.00,1.0,N,170,162,4.0,3.00,3.0,0.5,0.00,0.00,0.3,6.80,2.5
20,1.0,01/01/2020 12:28:53 AM,01/01/2020 12:41:59 AM,1.0,1.50,1.0,N,170,161,1.0,9.50,3.0,0.5,2.65,0.00,0.3,15.95,2.5
21,1.0,01/01/2020 12:49:00 AM,01/01/2020 01:17:42 AM,1.0,2.90,1.0,N,161,262,1.0,19.00,3.0,0.5,4.55,0.00,0.3,27.35,2.5
22,1.0,01/01/2020 12:23:54 AM,01/01/2020 12:38:46 AM,1.0,1.90,1.0,N,236,162,1.0,10.50,3.0,0.5,2.85,0.00,0.3,17.15,2.5
23,1.0,01/01/2020 12:56:12 AM,01/01/2020 01:19:57 AM,1.0,4.20,1.0,N,50,261,1.0,18.00,3.0,0.5,4.35,0.00,0.3,26.15,2.5
24,1.0,01/01/2020 12:28:02 AM,01/01/2020 12:35:56 AM,2.0,1.50,1.0,N,142,236,1.0,7.50,3.0,0.5,2.80,0.00,0.3,14.10,2.5
25,1.0,01/01/2020 12:48:23 AM,01/01/2020 12:53:58 AM,1.0,0.60,1.0,N,237,141,1.0,5.50,3.0,0.5,1.85,0.00,0.3,11.15,2.5
26,2.0,01/01/2020 12:13:53 AM,01/01/2020 12:40:35 AM,1.0,5.73,1.0,N,246,112,2.0,21.00,0.5,0.5,0.00,6.12,0.3,30.92,2.5
27,2.0,01/01/2020 12:19:13 AM,01/01/2020 12:28:54 AM,1.0,2.12,1.0,N,24,236,1.0,9.00,0.5,0.5,0.00,0.00,0.3,12.80,2.5
28,2.0,01/01/2020 12:31:25 AM,01/01/2020 12:37:16 AM,2.0,0.93,1.0,N,236,262,1.0,5.50,0.5,0.5,2.32,0.00,0.3,11.62,2.5
29,1.0,01/01/2020 12:29:04 AM,01/01/2020 01:03:27 AM,2.0,5.70,1.0,N,234,238,1.0,25.50,3.0,0.5,5.85,0.00,0.3,35.15,2.5
30,1.0,01/01/2020 12:03:02 AM,01/01/2020 12:09:22 AM,1.0,1.20,1.0,N,232,79,2.0,6.50,3.0,0.5,0.00,0.00,0.3,10.30,2.5
31,1.0,01/01/2020 12:22:24 AM,01/01/2020 12:33:24 AM,1.0,1.30,1.0,N,79,233,1.0,8.50,3.0,0.5,1.70,0.00,0.3,14.00,2.5
32,1.0,01/01/2020 12:47:27 AM,01/01/2020 12:55:40 AM,1.0,0.70,1.0,N,233,170,1.0,6.50,3.0,0.5,2.05,0.00,0.3,12.35,2.5
33,1.0,01/01/2020 12:57:44 AM,01/01/2020 01:00:49 AM,1.0,0.40,1.0,N,170,107,1.0,4.00,3.0,0.5,1.55,0.00,0.3,9.35,2.5
34,1.0,01/01/2020 12:28:44 AM,01/01/2020 12:43:40 AM,2.0,3.90,1.0,N,148,49,1.0,14.50,3.0,0.5,3.70,0.00,0.3,22.00,2.5
35,1.0,01/01/2020 12:04:28 AM,01/01/2020 12:17:36 AM,1.0,3.30,1.0,N,144,229,1.0,12.00,3.0,0.5,3.15,0.00,0.3,18.95,2.5
36,1.0,01/01/2020 12:19:19 AM,01/01/2020 12:34:22 AM,1.0,1.70,1.0,N,229,142,2.0,11.00,3.0,0.5,0.00,0.00,0.3,14.80,2.5
37,1.0,01/01/2020 12:37:35 AM,01/01/2020 12:40:31 AM,1.0,0.60,1.0,N,142,239,1.0,4.50,3.0,0.5,2.45,0.00,0.3,10.75,2.5
38,1.0,01/01/2020 12:43:08 AM,01/01/2020 12:54:30 AM,1.0,2.30,1.0,N,239,41,1.0,10.00,3.0,0.5,2.75,0.00,0.3,16.55,2.5
39,1.0,01/01/2020 12:55:29 AM,01/01/2020 01:06:22 AM,1.0,1.50,1.0,N,41,74,1.0,9.00,0.5,0.5,2.05,0.00,0.3,12.35,0.0
40,2.0,01/01/2020 12:22:33 AM,01/01/2020 12:28:01 AM,2.0,0.81,1.0,N,239,142,2.0,5.50,0.5,0.5,0.00,0.00,0.3,9.30,2.5
41,2.0,01/01/2020 12:30:11 AM,01/01/2020 01:31:29 AM,1.0,0.80,1.0,N,48,68,2.0,18.50,1.3,0.5,0.00,0.00,0.0,22.80,2.5
42,1.0,01/01/2020 12:54:57 AM,01/01/2020 12:58:50 AM,6.0,0.90,1.0,N,95,95,2.0,5.00,0.5,0.5,0.00,0.00,0.3,6.30,0.0
43,1.0,01/01/2020 12:23:37 AM,01/01/2020 12:26:18 AM,1.0,0.90,1.0,N,229,140,1.0,4.50,3.0,0.5,1.65,0.00,0.3,9.95,2.5
44,1.0,01/01/2020 12:33:33 AM,01/01/2020 12:36:20 AM,2.0,0.60,1.0,N,141,140,1.0,4.50,3.0,0.5,1.65,0.00,0.3,9.95,2.5
45,1.0,01/01/2020 12:43:56 AM,01/01/2020 12:46:24 AM,1.0,0.70,1.0,N,141,141,1.0,4.50,3.0,0.5,1.00,0.00,0.3,9.30,2.5
46,1.0,01/01/2020 12:58:34 AM,01/01/2020 01:07:17 AM,1.0,1.10,1.0,N,233,229,1.0,7.00,3.0,0.5,2.15,0.00,0.3,12.95,2.5
47,2.0,01/01/2020 12:31:20 AM,01/01/2020 12:47:31 AM,2.0,2.77,1.0,N,144,68,1.0,12.50,0.5,0.5,3.26,0.00,0.3,19.56,2.5
48,2.0,01/01/2020 12:50:58 AM,01/01/2020 01:06:09 AM,1.0,1.39,1.0,N,246,48,2.0,10.00,0.5,0.5,0.00,0.00,0.3,13.80,2.5
49,2.0,01/01/2020 12:12:40 AM,01/01/2020 12:18:07 AM,1.0,0.69,1.0,N,79,79,1.0,5.50,0.5,0.5,2.32,0.00,0.3,11.62,2.5

In [4]:
# Check how many rows and columns this dataframe has
df.shape

(24648499, 18)

In [5]:
# You can see below that some columns are wrongly set to continuous types, e.g., ID.
df.dtypes

VendorID                 float64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count          float64
trip_distance            float64
RatecodeID               float64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type             float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
dtype: object

In [6]:
#another way to get a summary of columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24648499 entries, 0 to 24648498
Data columns (total 18 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               float64
 1   tpep_pickup_datetime   object
 2   tpep_dropoff_datetime  object
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           float64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
dtypes: float64(13), int64(2), object(3)
memory usage: 3.3+ GB

In [7]:
# Look at column names. Some have spaces in or after the name, e.g., 'Insurance Type '.
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge'],
      dtype='object')

In [8]:
# Clean the column names to remove white space after the name or in the name
df.columns = df.columns.str.replace(' ', '')
#df.columns = df.columns.str.replace(' ', '_')

In [9]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge'],
      dtype='object')

In [10]:
# We compute them below.
df.describe().T

,count,mean,std,min,25%,50%,75%,max
VendorID,23838931.0,1.667327,0.471170,1.00,1.00,2.00,2.00,2.00
passenger_count,23838931.0,1.467986,1.112783,0.00,1.00,1.00,1.00,9.00
trip_distance,24648499.0,3.527061,325.035867,-30.62,0.99,1.65,3.00,350914.89
RatecodeID,23838931.0,1.048557,0.761086,1.00,1.00,1.00,1.00,99.00
PULocationID,24648499.0,163.969081,66.751541,1.00,114.00,162.00,234.00,265.00
DOLocationID,24648499.0,161.170975,70.956151,1.00,107.00,162.00,234.00,265.00
payment_type,23838931.0,1.280403,0.484390,1.00,1.00,1.00,2.00,5.00
fare_amount,24648499.0,12.667645,274.091443,-1259.00,6.50,9.00,14.00,998310.03
extra,24648499.0,1.071817,100.718118,-27.00,0.00,0.50,2.50,500000.80
mta_tax,24648499.0,0.512797,100.710533,-0.50,0.50,0.50,0.50,500000.50
tip_amount,24648499.0,2.082061,2.610753,-493.22,0.00,1.92,2.76,1393.56
tolls_amount,24648499.0,0.303857,1.604868,-40.00,0.00,0.00,0.00,925.50
improvement_surcharge,24648499.0,0.297556,0.037451,-0.30,0.30,0.30,0.30,0.30
total_amount,24648499.0,18.421629,340.228574,-1260.30,11.16,14.30,19.80,1000003.80
congestion_surcharge,24648499.0,2.212161,0.821144,-2.50,2.50,2.50,2.50,3.00

In [12]:
df[df['trip_distance'] >= 1.4] 
#add more

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
6412080,NaN,01/28/2020 07:37:00 AM,01/28/2020 08:42:00 AM,NaN,210240.07,NaN,NaN,76,231,NaN,37.77,2.75,0.5,0.00,0.00,0.3,41.32,0.0
12217597,NaN,07/09/2020 09:46:00 PM,07/09/2020 10:02:00 PM,NaN,222795.31,NaN,NaN,165,11,NaN,17.01,0.00,0.5,2.75,0.00,0.3,20.56,0.0
15713451,NaN,03/03/2020 04:23:00 AM,03/03/2020 04:39:00 AM,NaN,269803.73,NaN,NaN,256,90,NaN,17.90,0.00,0.5,0.00,0.00,0.3,18.70,0.0
15715205,NaN,03/05/2020 08:09:00 AM,03/05/2020 09:55:00 AM,NaN,210148.62,NaN,NaN,76,230,NaN,40.54,0.00,0.5,0.00,6.12,0.3,47.46,0.0
16274277,NaN,05/02/2020 06:06:00 AM,05/02/2020 06:33:00 AM,NaN,297004.51,NaN,NaN,89,137,NaN,32.34,0.00,0.5,0.00,0.00,0.3,35.64,2.5
16871570,NaN,06/24/2020 12:25:00 PM,06/24/2020 12:43:00 PM,NaN,220386.23,NaN,NaN,236,69,NaN,23.82,0.00,0.5,2.75,0.00,0.3,27.37,0.0
17629287,NaN,07/26/2020 09:33:00 PM,07/26/2020 09:34:00 PM,NaN,231147.49,NaN,NaN,213,213,NaN,21.95,0.00,0.5,2.75,0.00,0.3,25.50,0.0
17645118,NaN,07/18/2020 09:08:00 PM,07/18/2020 09:18:00 PM,NaN,256069.13,NaN,NaN,83,82,NaN,11.45,0.00,0.5,2.75,0.00,0.3,15.00,0.0
19948405,NaN,09/16/2020 11:15:00 AM,09/16/2020 11:31:00 AM,NaN,239679.02,NaN,NaN,10,131,NaN,25.45,0.00,0.5,2.75,0.00,0.3,29.00,0.0
23173658,NaN,11/29/2020 02:54:00 PM,11/29/2020 03:17:00 PM,NaN,349692.30,NaN,NaN,19,78,NaN,42.44,0.00,0.5,2.75,6.12,0.3,52.11,0.0
24553537,NaN,12/02/2020 08:52:00 AM,12/02/2020 09:03:00 AM,NaN,349987.05,NaN,NaN,222,29,NaN,27.72,0.00,0.5,2.75,0.00,0.3,31.27,0.0
24557272,NaN,12/03/2020 08:15:00 AM,12/03/2020 08:37:00 AM,NaN,350104.58,NaN,NaN,203,135,NaN,30.54,0.00,0.5,2.75,0.00,0.3,34.09,0.0
24571954,NaN,12/08/2020 04:56:00 AM,12/08/2020 05:12:00 AM,NaN,256305.74,NaN,NaN,212,174,NaN,22.59,0.00,0.5,2.75,0.00,0.3,26.14,0.0
24572809,NaN,12/08/2020 09:16:00 AM,12/08/2020 09:27:00 AM,NaN,350696.98,NaN,NaN,22,150,NaN,17.65,0.00,0.5,2.75,0.00,0.3,21.20,0.0
24573092,NaN,12/08/2020 10:59:00 AM,12/08/2020 11:35:00 AM,NaN,350722.34,NaN,NaN,201,61,NaN,54.16,0.00,0.5,2.75,2.29,0.3,60.00,0.0
24576535,NaN,12/09/2020 08:22:00 AM,12/09/2020 08:37:00 AM,NaN,350793.60,NaN,NaN,38,16,NaN,30.54,0.00,0.5,2.75,0.00,0.3,34.09,0.0
24576536,NaN,12/09/2020 08:57:00 AM,12/09/2020 09:30:00 AM,NaN,350814.14,NaN,NaN,175,232,NaN,53.75,0.00,0.5,2.75,6.12,0.3,63.42,0.0
24580519,NaN,12/10/2020 08:39:00 AM,12/10/2020 09:14:00 AM,NaN,350914.89,NaN,NaN,219,170,NaN,47.68,0.00,0.5,2.75,6.12,0.3,57.35,0.0
24586668,NaN,12/11/2020 03:12:00 PM,12/11/2020 05:40:00 PM,NaN,275196.59,NaN,NaN,108,112,NaN,65.10,0.00,0.0,0.00,0.00,0.3,65.40,0.0

In [13]:
#Keep only the numeric features.
numeric_columns = df.select_dtypes(['int64', 'float64']).columns
numeric_columns

Index(['VendorID', 'passenger_count', 'trip_distance', 'RatecodeID',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge'],
      dtype='object')

In [14]:
# Select only the numeric features
df[numeric_columns].head()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,1.0,1.2,1.0,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5
1,1.0,1.0,1.2,1.0,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
2,1.0,1.0,0.6,1.0,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5
3,1.0,1.0,0.8,1.0,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0
4,2.0,1.0,0.0,1.0,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0